.tools > ul {
  list-style-type: none;
  text-align: left;
}

.skills__icon {
  display: none;
}

.tools {
  /* width: max-content; */
  border: solid;
}

.tools__list {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 10px;
  /* display: flex;
      justify-content: center;
      align-items: center; */
}

/* .tools:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    } */

@media (min-width: 475px) {
  .tools {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .aboutme {
    max-width: 100ch;
    font-size: var(--size-xl);
  }
  .skills__container {
    padding-top: 600px;
    padding-bottom: 600px;
    font-size: var(--size-xl);
  }
  .skills__icon {
    color: blue;
    display: block;
    max-width: 600px;
    /* border: solid; */
  }

  @keyframes moveUpDown {
    0%,
    100% {
      transform: translateY(0); /* Start and end position */
    }
    50% {
      transform: translateY(-20px); /* Middle position, move up */
    }
  }

  /* Apply the animation to the image */
  .skills__icon {
    padding-top: 100px;
    animation: moveUpDown 2s infinite; /* 2s duration, infinite loop */
  }

  .skills {
    flex: 1;
  }

  .tools > ul {
    font-size: var(--size-2xl);
    /* border: solid 1px red; */
  }

  .tools__list {
    min-width: 75%;
    height: 100px;
  }

  .skills__container {
    display: flex;
    justify-content: space-around;
  }
  .skills {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media (min-width: 1440px) {
  .aboutme {
    max-width: 100ch;
    font-size: var(--size-2xl);
  }
}
