.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
}

.profile__img {
  width: 16rem;
}

body {
  color: var(--clr-light);
}

.profile__hello {
  font-size: var(--size-base);
  margin-bottom: 0;
  padding-bottom: 5px;
}

.profile__info {
  margin-top: 0;
  padding-top: 0;
  font-size: var(--size-3xl);
}

.profile__description {
  max-width: 60ch;
  font-size: var(--size-sm);
}

.profile__reach {
  font-size: var(--size-sm);
}

/* screen size extra small */
@media (min-width: 475px) {
  .profile__img {
    width: 18rem;
  }

  .profile__hello {
    font-size: var(--size-lg);
  }

  .profile__info {
    font-size: var(--size-4xl);
  }

  .profile__description {
    max-width: 60ch;
    font-size: var(--size-base);
  }

  .profile__reach {
    font-size: var(--size-base);
  }
}

@media (min-width: 1024px) {
  .profile-info__container {
    display: flex;
    flex-direction: column;
  }
  .profile__img {
    width: 22rem;
  }

  .profile__hello {
    font-size: var(--size-2xl);
  }

  .profile__info {
    font-size: var(--size-6xl);
  }

  .profile__description {
    max-width: 60ch;
    font-size: var(--size-lg);
  }

  .profile__reach {
    font-size: var(--size-lg);
  }
}

/* xl screen */
@media (min-width: 1280px) {
  .profile__img {
    width: 24rem;
  }

  .profile__hello {
    font-size: var(--size-3xl);
  }

  .profile__info {
    font-size: var(--size-7xl);
  }

  .profile__description {
    max-width: 60ch;
    font-size: var(--size-lg);
  }

  .profile__reach {
    font-size: var(--size-lg);
  }
}
