.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(90deg, #c98717, #ff00a6);
  /* Apply the text as a mask to the gradient background */
  background-clip: text;
  -webkit-background-clip: text;
  /* Make the original text color transparent */
  color: transparent;
}

.profile__hello {
  font-size: var(--size-base);
  margin-bottom: 0;
  padding-bottom: 5px;
}

.profile__info {
  /* text-transform: uppercase; */
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 30px;
  font-size: var(--size-4xl);
}

.profile__description {
  padding-top: 0;
  margin-top: 0;
  max-width: 60ch;
  font-size: var(--size-sm);
}

/* screen size extra small */
@media (min-width: 475px) {
  .profile__hello {
    font-size: var(--size-xl);
  }

  .profile__info {
    font-size: var(--size-5xl);
  }

  .profile__description {
    max-width: 60ch;
    font-size: var(--size-base);
  }
}

@media (min-width: 1024px) {
  .profile__hello {
    font-size: var(--size-3xl);
  }

  .profile__info {
    font-size: var(--size-7xl);
  }

  .profile__description {
    max-width: 60ch;
    font-size: var(--size-lg);
  }
}

/* xl screen */
@media (min-width: 1280px) {
  .profile__hello {
    font-size: var(--size-4xl);
  }

  .profile__info {
    font-size: var(--size-8xl);
  }

  .profile__description {
    max-width: 60ch;
    font-size: var(--size-lg);
  }
}

/* 2xl screen */
@media (min-width: 1530px) {
  .profile__hello {
    font-size: var(--size-5xl);
  }

  .profile__info {
    font-size: var(--size-9xl);
  }

  .profile__description {
    max-width: 60ch;
    font-size: var(--size-xl);
  }
}
