:root {
  --size-xxs: 0.625rem; /* 10px */
  --size-xs: 0.75rem; /* 12px */
  --size-sm: 0.875rem; /* 14px */
  --size-base: 1rem; /* 16px */
  --size-lg: 1.125rem; /* 18px */
  --size-xl: 1.25rem; /* 20px */
  --size-2xl: 1.5rem; /* 24px */
  --size-3xl: 1.875rem; /* 30px */
  --size-4xl: 2.25rem; /* 36px */
  --size-5xl: 3rem; /* 48px */
  --size-6xl: 4rem; /* 64px */
  --size-7xl: 5rem; /* 80px */
  --size-8xl: 6rem; /* 96px */
  --size-9xl: 8rem; /* 120px */
  --size-10xl: 9rem; /* 144px */

  /* Colors */
  --nav-light: #fff9;
  --amber-400: #fbbf24;
  --amber-300: #fcd34d;
}

html {
  font-size: var(--size-base);
}

body {
  font-size: 1rem; /* Set a default font size for better browser compatibility */
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgb(4, 26, 93); */
}

p {
  color: whitesmoke;
}

.header__container {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: sticky;
  background-color: var(--nav-light);
  top: 0;
  z-index: 1;
  backdrop-filter: blur(8px); /* Add backdrop filter for blur effect */
  padding-top: 7px;
  padding-bottom: 7px;
  align-items: center;
}

.header__bars {
  width: var(--size-4xl);
  height: var(--size-4xl);
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.header__menu {
  display: none;
}

.btn {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--amber-400);
}

.btn:hover {
  background-color: var(--amber-300);
  transform: translateY(-2px);
  transition: transform 0.3s;
}

/* medium screen size */
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    font-size: var(--size-sm);
    font-weight: 700;
    letter-spacing: 1.5px;
  }

  .header__link {
    text-decoration: none;
  }

  .header__resume {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-right: 30px;
  }

  .header__link,
  .header__resume:hover {
    color: inherit;
  }

  .header__sun {
    display: block;
    width: var(--size-3xl);
    height: var(--size-3xl);
    background: none;
    border: none;
    cursor: pointer;
  }

  .header__bars {
    display: none;
  }
}

/* large screen size */
@media (min-width: 1024px) {
  .header__menu {
    font-size: var(--size-base);
  }
  .header__sun {
    width: var(--size-4xl);
    height: var(--size-4xl);
  }
}
